* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-style: normal;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    transition: 0.2 linear;
   
    
}

body {
    background-color: #F8F8F8;
}
 
/* configurações logo, menu e ícones */

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header#cabecalho {
    width: 100%;
    height: 110px;
    background-color: #D2B48C;
}

header#cabecalho #logo h1 {
    padding: 10px;
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    margin: auto;
    font-size: 30px;
    padding-left: 20px;

}

header#cabecalho #logo h1 span {
    color: #A0522D;
}

header #cabecalho {
    position: fixed;
    border-bottom: #F8F8F8;
}

 #cabecalho section {
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}


nav #menu {
     width: 100%;
    height: auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    
}

nav#menu ul li{
    display: inline;
    margin: 0 10px;
}

nav#menu ul li a{
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav#menu ul li a:hover{
    color: #A0522D;
    font-size: 16px;
}

.icones img {
    margin: 0.2rem;
    cursor: pointer;
}

/* banner */
article#banner{
    width: 100%;
    height: 600px;
   
}
/* seção conteudo */
section#conteudo h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    font-weight: 400;
   
}

section#conteudo h1 span {
    color: #A0522D;
}

section#conteudo p {
    font-size: 18px;
    color: black;
    font-weight: 400;
    line-height: 28px;
    margin-top: 15px;
}

section#conteudo h2 {
    font-size: 30px;
    color: black;
     font-weight: 400;
     margin-top: 15px;
}

section#conteudo h2 span {
    color: #A0522D;
}

/* seção box */

section#conteudo #box-principal {
    width: 1200px;
    height: 160px;
}

section#conteudo div#box-principal div#box-1, section#conteudo div#box-principal div#box-2{
    width: 20%;
    height: 160px;
    float: left;

}

section#conteudo #box-principal #box-2 {
    margin-left: 2%;
}

section#conteudo #box-final #texto-1 h2 {
    font-size: 25px;
    color: #A0522D;
     font-weight: 400;
     margin-top: 15px;
     
}

section#conteudo #box-final #texto-1 p {
    color: black;
    margin-top: 10px;
}

section#conteudo div#box-final{
      width: 1200px;
       height:200px;
       /*background-color: red;*/
       margin-top: 25px;
     

}

section#conteudo div#box-final div#texto-1, section#conteudo div#box-final div#box-4-img{
    width: 45%;
     height:200px;
     /*background-color: antiquewhite;*/
     float: left;

}

section#conteudo div#box-final div#box-4-img{
    /*float: none;*/
    float: right !important;
     
}

section#conteudo h3 {
    text-align: center;
    margin-top: 45px;
    color: #A0522D;
}

section#conteudo h4 {
    color: #D2B48C;
}

/*  rodape */

footer#rodape {
    width: 100%;
    height: 100px;
    background-color: #D2B48C;
    text-align: center;
    color: #fff;
    padding: 18px;
    justify-content: center;
}




